

*{
    margin: 0;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    height: 55px;
    background-color:#F55A5A;
    position: sticky;
    top: 0;   
    z-index: 1;
}
.main{
    display:flex;
    flex-direction:row;
    position:relative;
}
.search{
   margin-left:auto;
   margin-right:50px;
}
.search>input{
    position:relative;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.search-logo{
    cursor:pointer;
    position:absolute;
    bottom:17px;
    right:56px;
    width:20px;
    height:20px;
}
.title{
    display: flex;
    align-items: center;
    margin-left:auto;
    

}
.title-logo{
   width: 28px;
   height: 28px;
}   
.title>h1{
 
    padding-left: 8px;
}

.boddy{

    position:static;
    /* display: flex;
    flex-wrap: nowrap;
    gap: 400px;
    overflow-x: auto; */

} 
.side_view{
  position: fixed;
  top: 84px; 
  right:20px;
  width: 61vw;
  height: 600px; 
  background-color: #f0f0f0; 
  
    
}

.card{
    width: 500px;
    height: 220px;
    margin: 0;
    position: relative;
    
}
.heartsymbol-div{
    cursor: pointer;
}
.heart{
    height: 15px;
    width: 16px;
    position: absolute;
    top: 93%;
    left: 80%;
}
.heart-full{
    
    height: 15px;
    width: 16px;
    position: absolute;
    top: 93%;
    left: 80%;
}
.likes_numbers{
    font-size: 18px;
    position: absolute;
    top: 92%;
    left: 86%;
    
}
.image>img{
    cursor: pointer;
    border-radius: 5px;
    width: 125px;
    height: 168px;
}
.image{
    position: absolute;
    top: 30px;
    left: 40px;
   
}
.inside-card-part2{
    
    width: 340px;
    height: 164px;
    position:absolute;
    left: 180px;
    top: 40px;
    
}
.first-detail{
    display: flex;
    position: absolute;  
    
}
.location-icon{
    margin-top: 2px;
    margin-left: 4px;
}
.place{
    margin-left: 4px;
}
.location-link{
    font-family: 'Inter';
    color:#918E9B ;
    text-decoration: top 2px;
    margin-left: 15px;
}
.main-place-name{
    position: absolute;
    top: 16%;
    margin-left: 4px;   
}
.main-place-name>h1{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 25px;
    color: #2B283A;
}
.date{
    position: absolute;
    top: 45%;  
}
.date>p{
    font-family: 'Inter';
    font-size: 10.7px;
    margin-left: 4px; 
    color: #2B283A;
    font-weight:bold;
    line-height: 12px;
    font-weight: 900;
    
}
.each-place-info{
    position: absolute;
    top: 60%;
}
.each-place-info>p{
    margin-left: 4px; 
    font-family: 'Inter';
    font-size: 10.7px;
}




